@{
    ViewData["Title"] = "Central Coast Musician Hub";
}
<div><input id="search" placeholder="artist search" /></div>
<div><input id="tagSearch" placeholder="tag search" /></div>

<div id="artistContainer">

</div>
<div id="detailContainer">

</div>
@section scripts{
    <script>

        $("#artistContainer").html("This may take a while, be patient");
        $.ajax({
            url: '/Music/GetArtists',
            success: function (data) {
                $("#artistContainer").html(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#artistContainer")
                    .html("Oops, something went wrong, please try again: " + XMLHttpRequest.responseText);
            }
        });


        $('#search').keyup(function (e) {

            searchArtist($('#search').val().trim());

        });

        $('#tagSearch').keyup(function (e) {

            tagSearch($('#tagSearch').val().trim());

        });

        function getDetail(id) {
            $("#artistContainer").hide();
            $.ajax({
                url: '/Music/Details/' + id,
                success: function (data) {
                    $("#detailContainer").html(data);
                    $("#detailContainer").show();

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#detailContainer")
                        .html("Oops, something went wrong, please try again: " + XMLHttpRequest.responseText);
                    $("#detailContainer").show();

                }
            });
        }

        function addToCalendar(id) {
            $.ajax({
                url: '/Link/GetStreamAttachment/' + id,
                success: function (data) {
                    var element = document.createElement('a');
                    element.setAttribute('href', 'data:text/calendar;charset=utf-8,' + encodeURIComponent(data));
                    element.setAttribute('download', 'livestream.ics');
                    element.style.display = 'none';
                    document.body.appendChild(element);
                    element.click();
                    document.body.removeChild(element);
                }
            });
        }

        function backToIndex() {
            $("#artistContainer").show();
            $("#detailContainer").hide();
        }

        function searchArtist(searchText) {
            $.ajax({
                url: '/Music/ArtistSearch/' + searchText,
                success: function (data) {
                    $("#artistContainer").html(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#artistContainer")
                        .html("Oops, something went wrong, please try again: " + XMLHttpRequest.responseText);
                }
            });
        }

        function tagSearch(searchText) {
            $.ajax({
                url: '/Music/TagSearch/' + searchText,
                success: function (data) {
                    $("#artistContainer").html(data);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#artistContainer")
                        .html("Oops, something went wrong, please try again: " + XMLHttpRequest.responseText);
                }
            });
        }
    </script>
}
