@model CentralCoastMusic.Models.Artist

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Artist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageLink" class="control-label"></label>
                <input asp-for="ImageLink" class="form-control" />
                <span asp-validation-for="ImageLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Youtube" class="control-label"></label>
                <input asp-for="Youtube" class="form-control" />
                <span asp-validation-for="Youtube" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instagram" class="control-label"></label>
                <input asp-for="Instagram" class="form-control" />
                <span asp-validation-for="Instagram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facebook" class="control-label"></label>
                <input asp-for="Facebook" class="form-control" />
                <span asp-validation-for="Facebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patreon" class="control-label"></label>
                <input asp-for="Patreon" class="form-control" />
                <span asp-validation-for="Patreon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Twitter" class="control-label"></label>
                <input asp-for="Twitter" class="form-control" />
                <span asp-validation-for="Twitter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donation" class="control-label"></label>
                <input asp-for="Donation" class="form-control" />
                <span asp-validation-for="Donation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomUrl" class="control-label"></label>
                <text asp-for="CustomUrl" class="form-control" />                
            </div>
            <div class="form-group" id="tagContainer">                
                <input class="form-control" id="tags" placeholder="Enter three genres that describe your music" /><span onclick="addTag()">+</span>
                <div id="tagList"></div>
            </div>
            <div class="form-group" id="livestreamContainer">
                <div id="livestreamInput"><input class="form-control" id="streamDesc" placeholder="Decribe your stream" maxlength="30" /><input class="form-control" id="streamDate" type="datetime" /><input class="form-control" id="streamLink" placeholder="Link to your livestream" /><div onclick="addLivestream()">Add</div></div>
                <div id="livestreamList"></div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    function x() {
        $(this).parent().parent().remove();
    }

    function addTag() {
        $('#tagList').append('<div class="tag"><span onclick="x()">-</span>' + $('#tags').val() + '</div>');
        $('#tags').val('');       
    }
    function addLivestream() {
        $('#livestreamList').append('<div><span onclick="x()">-</span>'+ $('#streamDesc').val() +  $('#streamDate').val()+ $('#streamLink').val()+'</div>');
        $('#livestreamInput').find('input').val('')  
    }
</script>
}
