
@{
    ViewData["Title"] = "Artist Page";
}

<h1>Index</h1>

<p>Welcome to the artist portal. Create an account or log in here to manage your listing</p>

<div class="log">
    <div class="Login">
        <div>
            <h3>Login</h3>
            <input type="text" id="logIn" name="userIn" placeholder="Email" />
            <input type="password" id="passIn" name="passwordIn" placeholder="Password" />
            <button id="login">Submit</button>
        </div>
        <span id="createLog">Or create a login</span>
    </div>

    <div class="Create" style="display: none">
        <div>
            <h3>Create User</h3>
            <input type="text" id="logCreate" name="userCreate" placeholder="Email" />
            <input type="password" id="passCreate" name="passwordCreate" placeholder="Password" />
            <button id="create">Submit</button>
        </div>
        <span id="reallyLog">Or log in</span>
    </div>

    <div class="btn btn-toolbar" id="loginFb">Facebook login?</div>
</div>


    @section scripts{   

        <script>
        //Firebase configuration
            var firebaseConfig = @Html.Raw(ViewData["jsSettings"]);

            var provider = new firebase.auth.FacebookAuthProvider();
        // Initialize Firebase only once
        if (firebase.apps.length === 0) {
            firebase.initializeApp(firebaseConfig);
        }
        //if already logged in go to dashboard
        if (firebase.auth().currentUser !== null) {
            loginAPI();
            }

            $("#loginFb").click(function () {
                firebase.auth().signInWithPopup(provider).then(function (result) {
                    // This gives you a Facebook Access Token. You can use it to access the Facebook API.
                    var fbtoken = result.credential.accessToken;
                    // The signed-in user info.
                    var fbuser = result.user;

                    var emailToken = firebase.auth().currentUser.xa;
                    var emailUser = firebase.auth().currentUser.uid;
                    loginAPI(emailUser, emailToken);
                    // ...
                }).catch(function (error) {
                    // Handle Errors here.
                    var errorCode = error.code;
                    var errorMessage = error.message;
                    // The email of the user's account used.
                    var email = error.email;
                    // The firebase.auth.AuthCredential type that was used.
                    var credential = error.credential;
                    // ...
                });
            });



        $("#create").click(function () {
            var log = $("#logCreate").val().trim();
            var pas = $("#passCreate").val().trim();
            firebase.auth().createUserWithEmailAndPassword(log, pas).then(function () {
                var emailToken = firebase.auth().currentUser.xa;
                var emailUser = firebase.auth().currentUser.uid;
                loginAPI(emailUser,emailToken);
            },
                function (error) {
                    var errorCode = error.code;
                    var errorMessage = error.message;
                    alert(errorCode + " - " + errorMessage);
                });
        });

        $("#createLog").click(function () {
            $(".Login").hide();
            $(".Create").show();
        });

        $("#reallyLog").click(function () {
            $(".Login").show();
            $(".Create").hide();
        });

        $("#login").click(function () {
            var log = $("#logIn").val().trim();
            var pas = $("#passIn").val().trim();
            firebase.auth().signInWithEmailAndPassword(log, pas).then(function (result) {
                 var emailToken = firebase.auth().currentUser.xa;
                var emailUser = firebase.auth().currentUser.uid;
                loginAPI(emailUser,emailToken);
            }).catch(function (error) {
                var errorCode = error.code;
                var errorMessage = error.message;
                alert(errorCode + " - " + errorMessage);
            });
        });

        function loginAPI(user,token) {
            $.ajax({
                url: "/Artist/SetAuth",
                type: 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Accept", "application/json");
                    xhr.setRequestHeader("Content-Type", "application/json");
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                    xhr.setRequestHeader("Uid", user);
                    xhr.setRequestHeader("Token", token);
                },
                error: function (ex) {
                    alert("error? " + ex.status + " - " + ex.statusText);
                },
                success: function (data) {
                    window.location.href = "../Artist/Details";
                }
            });
        }
        </script>
    }